APP_NAME=BoxQ
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mongodb
DB_URI="mongodb+srv://<username>:<password>@cluster0.qnvyxa4.mongodb.net/?appName=Cluster0"
DB_DATABASE=boxq_db

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_USERNAME=resend
MAIL_PASSWORD="your_resend_api_key_here"
MAIL_ENCRYPTION=smtps
MAIL_FROM_ADDRESS="onboarding@resend.dev"
MAIL_FROM_NAME="BoxQ Procurement"